@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<a class="btn btn-default" asp-action="SendInfoToBackEnd">
    Send Information to back end
</a>